@import url("./colors.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);

  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
}
thead {
  background-color: var(--field);
}
td {
  padding: 0.2rem;
}
tr {
}

input {
  background-color: var(--field);
}

button,
input {
  font-size: 120%;
  border: none;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.1em;
}
button,
input {
  outline: 1px var(--outline) solid;
}
button {
  margin: 2px;
  background-color: var(--primary-500);
}
button.secondary {
  background-color: var(--field);
  outline-width: 2px;
}
button:hover {
  filter: brightness(1.1);
}
button:active {
  filter: brightness(0.9);
}
